* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  margin: 0;

  background-color: khaki;
}

.main {
  text-align: center;
}

.heading-selamat {
  margin-bottom: 0;
  font-family: "Berkshire Swash", cursive;
  font-size: 4.8rem;
  font-weight: normal;
}

.heading-maaf {
  font-family: "Caveat", cursive;
  font-size: 3.6rem;
}
